<%- include('./partials/header.ejs') %>

<!-- home page bar -->
<br>
<div id="homePageBody">

    <div id="homePageNav" >
        <a class="btn" href="">all</a>
        <a class="btn" href="">Following</a>
        <a class="btn" href="">MySavedTags</a>
        <button>sortBy</button>
    </div>
    
    <!-- *** if logged in, show custom feed, else show general feed -->
    <%- include('./partials/postsPreview') %>

</div>
