<%- include('./partials/header.ejs') %>

<!-- home page bar -->
<div id="homePageBody">

    <div id="homePageNav" >
        <a class="tabButton tabSelected" href="/all">All</a>
        <a class="tabButton" href="/following">Following</a>
        <button class="sort_btn">Sort By</button>
    </div>
    
    <!-- *** if logged in, show custom feed, else show general feed -->
    <%- include('./partials/postsPreview') %>

</div>


