<%- include('./partials/header.ejs') %>

<!-- home page bar -->
<div id="homePageBody">

    <div id="homePageNav" >
        <a class="tabButton tabSelected" href="/all">All</a>
        <a class="tabButton" href="/following">Following</a>

        <div id="sort_div">

            <button id="sort_btn">Sort By</button>
            
            <div id="sort_popup_div">
                <a href="/all?sort=new">new</a>
                <a href="/all?sort=comments">comments</a>
                <a href="/all?sort=hearts">hearts</a>
            </div>

        </div>

    </div>
    
    <!-- *** if logged in, show custom feed, else show general feed -->
    <%- include('./partials/postsPreview') %>

</div>

<style>
    #sort_div{
        position: relative;
    }

    #sort_popup_div{
        position: absolute;
        background-color: var(--post-color-1);
        border: 1px solid var(--post-color-2);
        display: none;
    }

</style>

<script>
    let sort_btn = document.getElementById('sort_btn');
    let sort_popup = document.getElementById('sort_popup_div');
    
    sort_btn.addEventListener('focusin',()=>{
       sort_popup.style.display= 'inline-block';
    });

    sort_btn.addEventListener('focusout',()=>{
        setTimeout(()=>{
            sort_popup.style.display= 'none';
        },400);
    });


</script>