<%- include('./partials/header.ejs') %>

<!-- home page bar -->
<div id="homePageBody">

    <div id="homePageNav" >
        <a class="tabButton" href="/all">All</a>
        <a class="tabButton tabSelected" href="/following">Following</a>

        <div id="sort_div">

            <button id="sort_btn">Sort By</button>
            
            <div id="sort_popup_div">
                <a href="/following?sort=new">new</a>
                <a href="/following?sort=comments">comments</a>
                <a href="/following?sort=hearts">hearts</a>
            </div>

        </div>

    </div>
    
    <% if(locals.document.length > 0){ %>
        <%- include('./partials/postsPreview') %>
    <% }else{ %>
        <div id="no_results_div">
            <h2>You don't seem follow anyone</h2>
            <h4>..or they haven't posted anything yet.</h4>
            <br>
            <h2>Try following more people!</h2>
        </div>
    <% } %>

</div>

<style>
    #sort_div{
        position: relative;
    }

    #sort_popup_div{
        position: absolute;
        background-color: var(--post-color-1);
        border: 1px solid var(--post-color-2);
        display: none;
        margin-left: 00.2em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }
    #sort_popup_div *{
        margin: 00.2em;
    }

    #sort_popup_div a:hover{
        color: var(--button-color-5);
    }

    #sort_btn{
        font-weight: 1000;
        font-size: small;
        padding: 00.2em;
        color: var(--font-color-1);
        background-color: var(--button-color-1);
    }

</style>

<script>
    let sort_btn = document.getElementById('sort_btn');
    let sort_popup = document.getElementById('sort_popup_div');
    
    sort_btn.addEventListener('focusin',()=>{
       sort_popup.style.display= 'inline-block';
    });

    sort_btn.addEventListener('focusout',()=>{
        setTimeout(()=>{
            sort_popup.style.display= 'none';
        },400);
    });


</script>