<%- include('./partials/header.ejs') %>

<!-- home page bar -->
<div id="homePageBody">

    <div id="homePageNav" >
        <a class="btn" href="">All</a>
        <a class="btn" href="">Following</a>
        <a class="btn" href="">MyTags</a>
        <button class="btn">SortBy</button>
    </div>
    
    <!-- *** if logged in, show custom feed, else show general feed -->
    <%- include('./partials/postsPreview') %>

</div>


