<div id="loginDiv">

    <!-- Nav -->
    <div>
        <button id="loginTab">Login</button>
        <button id="registerTab">Register</button>
        <button id="closeLoginButton">x</button>
    </div>

    <h3 id="errorMessage"></h3>

    <!-- Login Form -->
    <form action="./login" method="POST" id="loginForm">
        <H1>Login</H1>    
        
        <div>
            <label for="logUsername">Username</label>
            <input type="text" id="logUsername" name='username' required>    
        </div>
        
        <div>
            <label for="logPassword">Password</label>
            <input type="password" id="logPassword" name='password' required>    
        </div>
        
        <button type="submit">Login</button>
        
    </form>
    
    <!-- Register Form -->
    <form action="./register" method="POST" id="registerForm" style="display: none;">
        <h1>Register</h1>
        <div>
            <label for="regUsername">Username</label>
            <input type="text" id="regUsername" name='username' required value="<%= locals.usernameEntered %>">
            <label id="usernameStatus"></label>
        </div>
    
        <div>
            <label for="regPassword">Password</label>
            <input type="password" id="regPassword" name='password' required>    
        </div>
    
        <button type="submit">Register</button>
    
    </form>
    
</div>
