<form action="/posts/new" method="post">

    <label for="postContent">Content</label>
    <input type="text" name="postContent" id="postContent">

    <label for="quoteAuthor">Author</label>
    <input type="text" name="quoteAuthor" id="quoteAuthor">
    
    <label for="postTags">Tags</label>
    <input type="text" name="postTags" id="postTags">
    
    <input type="submit" value="Submit">

</form>