<%- include('./partials/header.ejs') %>

<div class="new_post_div">

    <form id="new_post_form" action="/posts/new" method="post">

        <div id="new_post_quote_div">
            <label for="postContent"><i class="fa-solid fa-quote-left"></i>Quote</label>
            <textarea class="newPostInput" name="postContent" id="postContent" maxlength="600" minlength="2" autofocus sentences required placeholder='Share your phrase'></textarea >
        </div>
                
        <div id="new_post_author_div">
            <label for="quoteAuthor"><i class="fa-brands fa-creative-commons-by"></i>Author</label>
            <input class="newPostInput" type="text" name="quoteAuthor" id="quoteAuthor" maxlength="30" placeholder="The author's name, if you know it">
        </div>
            
        <div id="postTagsDiv">
            <label for="postTagsVisible"><i class="fa-solid fa-hashtag"></i>Tags</label>
        </div>
        
        <input class="btn new_post_submit_btn" type="submit" value="Submit">
        
    </form>
    
</div>


<script>

    let postTagsDiv = document.getElementById('postTagsDiv');
    
    let inputTextHidden = document.createElement('input');{
    inputTextHidden.type = 'text';
    inputTextHidden.name = 'postTags'
    inputTextHidden.style.visibility = 'hidden';
    inputTextHidden.style.display = 'none';
    inputTextHidden.setAttribute('required','');
    }

    let newTagCardsDiv = document.createElement('div');{
    newTagCardsDiv.id = 'newTagCardsDiv';
    }

    let inputTextVisible = document.createElement('input');{
    inputTextVisible.type = 'text';
    inputTextVisible.id = 'postTagsVisible'
    inputTextVisible.name = 'postTagsVisible'
    inputTextVisible.placeholder = 'Enter tags separated by commas';
    inputTextVisible.className = 'newPostInput';
    }

    function addTagToPost(newTag){

        newTag = newTag.replace(/\s+/g,'')

        let newTagCard = document.createElement('div');
        newTagCard.className = 'searchTagCard fa-icon';
        newTagCard.id = 'tag'+Date.now();
        
        let tagText = document.createElement('p');
        tagText.innerText = newTag;
        
        let deleteTagButton = document.createElement('i');
        deleteTagButton.addEventListener('click',()=>{deleteTagFromPost(newTag, newTagCard.id)});
        deleteTagButton.className = 'fa-icon'

        newTagCard.appendChild(tagText);
        newTagCard.appendChild(deleteTagButton);
        newTagCardsDiv.appendChild(newTagCard);

        if(inputTextHidden.value === ''){
            inputTextHidden.value = newTag;    
        }    
        else{
            inputTextHidden.value = newTag+','+inputTextHidden.value;
        }
    }
    
    function deleteTagFromPost(tagToDelete, id){
        inputTextHidden.value = inputTextHidden.value.replace(tagToDelete+',','');
        inputTextHidden.value = inputTextHidden.value.replace(','+tagToDelete,'');
        inputTextHidden.value = inputTextHidden.value.replace(tagToDelete,'');
        
        let divToDelete = document.getElementById(id);
        divToDelete.remove();

    }   


    inputTextVisible.addEventListener('keydown', (key)=>{
        if(key.code === 'Comma'){
            if(inputTextVisible.value.replace(/\s+/g,'') !== ''){
                if(inputTextHidden.value.includes(inputTextVisible.value)){
                    console.log(inputTextVisible.value+' tag is already in search query');
                }
                else{
                    addTagToPost(inputTextVisible.value);
                }
            }
            inputTextVisible.value = '';
        }
    });
    
    inputTextVisible.addEventListener('keyup', (key)=>{
        if(key.code === 'Comma'){
            inputTextVisible.value = '';
        }
    });
    
    
    postTagsDiv.appendChild(inputTextHidden);
    postTagsDiv.appendChild(inputTextVisible);
    postTagsDiv.appendChild(newTagCardsDiv);

</script>