<form action="/posts/new" method="post">

    <input type="text" name="postContent" id="postContent">
    <input type="text" name="quoteAuthor" id="quoteAuthor">
    <input type="text" name="postTags" id="postTags">
    <input type="submit" value="Submit">

</form>