<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div>
    <form action="/test" method="post" enctype="multipart/form-data">
        <input type="file" name="input_name" id="input_id" >
        <input type="submit">
    </form>
</div>


<br>
<img id="myimg" src="/assets/logxo1.png" alt="" style="width: 5em;">

<script>
    let myimg = document.getElementById('myimg')
    myimg.addEventListener('error',()=>{
        myimg.src = '/assets/logo1.png'
    });
</script>