<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div>
    <form action="/test" method="post" enctype="multipart/form-data">
        <input type="file" name="input_name" id="input_id" >
        <input type="submit">
    </form>
</div>
