<%- include("./partials/header.ejs") %>
<form action="test" method="post" class="authRequired">

    <input type="text" name="text" id="text"> <br>
    <input type="submit" value="submit">

</form>

<button class="authRequired"></button>

<a href="/" class="authRequired">authreq</a>

<script>
    let scripttext = `
    function testf(){
        console.log('test')
    }
    testf();
    `
    let newtag = document.createElement('script');
    newtag.innerHTML = scripttext; 
    document.body.append(newtag)
</script>