<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<div class="postPreview" id="div_I_dont_like_sand_Its_coarse_1648676032820">
    
    <div class="userPopupContainer">

        <div class="profilePopup" id="profilePopup_userTest">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
            <a href="/users/sergio27998">sergio27998</a>
            <button id="followBtn_sergio27998" class="followBtn">follow</button>
            <a href="/users/sergio27998">1 followers</a>
            <a href="/users/sergio27998">1 following</a>
        </div>

        <h3> <a href="/users/userTest" id="profileLink_userTest"> userTest </a></h3>
    </div>


    <h1> I don't like sand. It's coarse and rough and irritating and it gets everywhere. </h1>
    <h1> - sdasdasd </h1>
    <a href="/results?search_query=">#&nbsp;</a>
    <br>
    <a href="/posts/I_dont_like_sand_Its_coarse_1648676032820"> 0 comments </a>
    <!-- delete/favorite button -->
    <button class="favoriteButton authRequired" id="favorite_I_dont_like_sand_Its_coarse_1648676032820">♥ favorite</button>
    
</div>



<style>
    .postPreview{
        border: solid black 2px;
    }

    .userPopupContainer{
        border: solid rgb(0, 255, 0) 2px;
        position: relative;
        height: 5.5em;
    }

    .profilePopup{
        display: none;
        z-index: 5;
        border: solid blue 2px;
        height: 5.5em;
        position: absolute;
    }

    .userPopupContainer:hover div{
        display: block;
    }

    img{
        width: 5em;
    }
</style>


<script>
    
    let profileLink = document.getElementById('pofileLink_userTest');

</script>