<head>
    <script src="/scripts/global.js" defer></script>
    <link rel="stylesheet" href="/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/bae7e54b88.js" crossorigin="anonymous"></script>

</head>

<div id="headerDiv" >
    <a href="/">
        <img src="/assets/logo7.svg" alt="Phrase it Logo" id="phraseitLogo" class="phraseitLogo">
    </a>

    <%- include('./searchBar.ejs') %>
    
    <div id="top_right_menu">
        <a id="new_quote_btn" class='btn fa-icon' href="/posts/new">New Q</a>
        <%- include('./logoutButton.ejs') %>
    </div>
    
</div>
