<head>
    <script src="/scripts/global.js" defer></script>
    <link rel="stylesheet" href="/style.css">
</head>
<div id="headerDiv" >

    <h3>Hello <%= locals.userInfo.username || 'to QuotesBlog' %>!</h3> 
    
    <%- include('./searchBar.ejs') %>
    
    <a href="/all">Home</a> 
    <a href="/posts/new">New Post</a>
    <%- include('./logoutButton.ejs') %>
    
</div>

<style>
    #headerDiv{
        border: 1px black solid;
        display:flex; 
        flex-direction: row; 
        flex-grow: 1; 
        align-items: center; 
        justify-content: space-evenly; 
        gap: 1.5em;
    }

</style>