<% if( locals.userInfo.username){ %>

    <form action="/logout" method="post">
            <input class='btn' type="submit" value="Logout">           
    </form>

<% }else{ %>
    <a href="/login">Login</a>
<% } %>


