<% if( locals.userInfo.username){ %>

    <form action="/logout" method="post">
        <div>
            <input class='btn' type="submit" value="Logout">
        </div>    
    </form>

<% }else{ %>
    <a href="/login">Login</a>
<% } %>


