<!-- <form action="/results" method="get" id="searchForm">
    <label for="search_query">Search tags: </label>
    <input type="search" name="search_query" id="search_query" >
    <input type="submit" value="Submit">


</form> -->
<div id="searchBarDiv">

</div>

<script>
    
    let formHtml = `
        <form action="/results" method="get">
            
            <input type="search" name="search_query" id="search_query" style='visibility:hidden'>

            <input type="hidden" name="s">

        </form>
    `;
    
    let searchBarDiv = document.getElementById('searchBarDiv');
    let form = document.createElement('form');

    let inputSearch = document.createElement('input');
    inputSearch.type = 'search';
    // inputSearch.style.visibility = 'hidden';

    let searchTagCardsDiv = document.createElement('div');
    searchTagCardsDiv.id = 'searchTagCardsDiv';

    let inputText = document.createElement('input');
    inputText.type = 'text';
    inputText.placeholder = 'Enter tags separated by commas';

    let submitButton = document.createElement('input');
    submitButton.type = 'submit';
    submitButton.value = 'Search';
    
    
    function deleteTagFromSearch(tagToDelete){
            console.log(tagToDelete);
    }   

    function addTagToSearch(newTag){

        let searchTagCard = document.createElement('div');
        searchTagCard.className = 'searchTagCard'
        searchTagCard.style.border = 'black 1px solid'
        
        let tagText = document.createElement('p');
        tagText.innerText = newTag;
        
        let deleteTagButton = document.createElement('button');
        deleteTagButton.innerText = 'x';
        deleteTagButton.type = 'button';
        deleteTagButton.addEventListener('click',()=>{deleteTagFromSearch(newTag)});

        searchTagCard.appendChild(tagText);
        searchTagCard.appendChild(deleteTagButton);
        searchTagCardsDiv.appendChild(searchTagCard);

        if(inputSearch.value === ''){
            inputSearch.value = newTag;    
        }    
        else{
            inputSearch.value = newTag+','+inputSearch.value;
        }
    }


    inputText.addEventListener('keydown', (key)=>{
        if(key.code === 'Comma'){
            if(inputText.value.replace(/\s+/g,'') !== ''){
                addTagToSearch(inputText.value);
            }
            inputText.value = '';
        }
        
    });
    
    inputText.addEventListener('keyup', (key)=>{
        if(key.code === 'Comma'){
            inputText.value = '';
        }
    });
    
    form.appendChild(inputSearch);
    form.appendChild(searchTagCardsDiv);
    form.appendChild(inputText);
    searchBarDiv.appendChild(form);

</script>