<div id="searchBarDiv">
    
</div>

<script>
      
    let searchBarDiv = document.getElementById('searchBarDiv');
    
    let form = document.createElement('form');{
        form.method = 'get';
        form.id = 'searchForm';
        form.action = '/results';
    }

    let inputSearch = document.createElement('input');{
        inputSearch.type = 'search';
        inputSearch.name = 'search_query'
        inputSearch.style.display = 'none';
    }

    let searchTagCardsDiv = document.createElement('div');{
        searchTagCardsDiv.id = 'searchTagCardsDiv';
    }

    let inputText = document.createElement('input');{
        inputText.type = 'text';
        inputText.id = 'search_input';
        inputText.placeholder = 'Enter tags separated by commas';
    }

    let spanElement = document.createElement('span');{
        spanElement.className = 'fa-icon submit_span'
    }

    let submitButton = document.createElement('input');{
        submitButton.type = 'submit';
        submitButton.id = 'search_submit';
        submitButton.value = ' ';
        spanElement.appendChild(submitButton);
    }


    function addTagToSearch(newTag){

        newTag = newTag.replace(/\s+/g,'')

        let searchTagCard = document.createElement('div');
        searchTagCard.className = 'searchTagCard';
        searchTagCard.style.border = 'black 1px solid';
        searchTagCard.id = 'tag'+Date.now();
        
        let tagText = document.createElement('p');
        tagText.innerText = newTag;
        
        let deleteTagButton = document.createElement('button');
        deleteTagButton.innerText = 'x';
        deleteTagButton.type = 'button';
        deleteTagButton.addEventListener('click',()=>{deleteTagFromSearch(newTag, searchTagCard.id)});

        searchTagCard.appendChild(tagText);
        searchTagCard.appendChild(deleteTagButton);
        searchTagCardsDiv.appendChild(searchTagCard);

        if(inputSearch.value === ''){
            inputSearch.value = newTag;    
        }    
        else{
            inputSearch.value = newTag+','+inputSearch.value;
        }
    }
    
    function deleteTagFromSearch(tagToDelete, id){
        inputSearch.value = inputSearch.value.replace(tagToDelete+',','');
        inputSearch.value = inputSearch.value.replace(','+tagToDelete,'');
        inputSearch.value = inputSearch.value.replace(tagToDelete,'');
        
        let divToDelete = document.getElementById(id);
        divToDelete.remove();

    }   

    submitButton.addEventListener('click', (e)=>{
        e.preventDefault();
        if( (inputSearch.value.replace(/\s+/g,'') === '') && (inputText.value.replace(/\s+/g,'') === '') ){
            console.log('Empty query');
        }
        else{
            if(inputSearch.value.includes(inputText.value.replace(/\s+/g,''))){
                console.log(inputText.value+' tag is already in search query');
                form.submit();
            }
            else{
                addTagToSearch(inputText.value);
                form.submit();
            }
        }
    });

    inputText.addEventListener('keydown', (key)=>{
        if(key.code === 'Enter'){
            key.preventDefault();
            if( (inputSearch.value.replace(/\s+/g,'') === '') && (inputText.value.replace(/\s+/g,'') === '') ){
                console.log('Empty query');
            }
            else{
                if(inputSearch.value.includes(inputText.value.replace(/\s+/g,''))){
                    console.log(inputText.value+' tag is already in search query');
                    form.submit();
                }
                else{
                    addTagToSearch(inputText.value);
                    form.submit();
                }
            }
        } 
    });

    inputText.addEventListener('keydown', (key)=>{
        if(key.code === 'Comma'){
            if(inputText.value.replace(/\s+/g,'') !== ''){
                if(inputSearch.value.includes(inputText.value)){
                    console.log(inputText.value+' tag is already in search query');
                }
                else{
                    addTagToSearch(inputText.value);
                }
            }
            inputText.value = '';
        }
    });
    
    inputText.addEventListener('keyup', (key)=>{
        if(key.code === 'Comma'){
            inputText.value = '';
        }
    });
    
    form.appendChild(inputSearch);
    form.appendChild(inputText);
    form.appendChild(spanElement);
    form.appendChild(searchTagCardsDiv);
    searchBarDiv.appendChild(form);

</script>