/* General */
    :root{
        --body-color: rgb(218, 224, 230);

        --header-color-1: rgb(208, 206, 248);

        --search-bar-height: 2.5em;
        --search-bar-width: 31.25em; /* Make relative unit */
        --search-bar-color-1: rgb(160, 160, 248);
        --search-bar-color-2: rgb(163, 163, 221);

        --icon-color-1: rgba(0, 0, 0, 0.562);

        --tag-color-1: rgb(255, 255, 255);
        --tag-color-2: rgb(177, 177, 236);
        --tag-color-3: rgb(160, 160, 248);

        --post-container-width:  53em;
        --nav-bar-width:  60em;
        --follow-card-width: 30em;

        --post-color-1: rgb(255, 255, 255); 
        --post-color-2: rgb(160, 160, 248); 
        --post-color-2: rgb(207, 207, 243);

        --quote-color-1: rgba(0, 0, 0, 0.774);
        --quote-color-2: rgba(0, 0, 0, 0.349);

        --button-color-1: rgb(207, 207, 243);
        --button-color-2: rgb(224, 162, 162);
        --button-color-3: rgb(154, 154, 255);
        --button-color-4: rgb(222, 222, 227);
        --button-color-5: rgb(105, 102, 235,1);
        --button-color-6: rgb(242, 242, 245);
        --button-color-7: rgb(255, 255, 255);


        --font-color-1: rgb(91, 91, 107);
        --font-color-2: rgb(178 178 181);

        --profile-color-1: rgb(255, 255, 255);
        --profile-color-2: rgb(207, 207, 243);

        /* alternate style */
        --header-color-1: rgb(255, 255, 255);
        --search-bar-color-1: rgb(207, 207, 243);
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Spartan', sans-serif;
    }

    body{
        background-color: var(--body-color);
    }

    a{
        color: var(--tag-color-3);
    }
    
    .fa-icon::before{
        font-weight: 900;
        font-family: "Font Awesome 6 Free";
        text-rendering: auto;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
    }

    /* Buttons */
    .btn{
        text-decoration: none;
        font-weight: 1000;
        font-size:medium;

        padding: 0.5em;

        color: var(--icon-color-1);
        background-color: var(--button-color-1);
        border: none;
        cursor: pointer;
    }
    button{
        background-color: var(--button-color-1);
        border: 1px solid var(--button-color-1);
        cursor: pointer;
    }

    .favoriteButton{
        width: 2em;
        height: 2em;
        border-radius: 100%;
    }

    .favorite_btn_span{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .favorite_btn_span::before{
        /* f004 empty heart > font weight*/
        content: '\f004';
        position: absolute;
        top: 25%;
        pointer-events: none;
        color: var(--icon-color-1);
    }

    .favorited{
        background-color: var(--button-color-2);
    }
    
    .deleteButton{
        width: 2em;
        height: 2em;
        border-radius: 100%;
    }

    .delete_btn_span{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .delete_btn_span::before{
        content: '\f1f8';
        position: absolute;
        top: 25%;
        pointer-events: none;
        color: var(--icon-color-1);
    }

    .follow_btn_span{
        position: relative;
        width: fit-content;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        
        text-decoration: none;

        padding: 0.3em;
        padding-left: 0;
        margin-top: 0.3em;
        
        border: none;
    }
    .follow_btn_span_following::before{
        content: '\f00c';
        margin-left: 0.3em;
        transform: scale(90%);
        
        display: flex;
        align-items: center;

        position: absolute;
        right: -25%;
        
        height: 100%;

    }
    .follow_btn_span_following {
        background-color: rgba(0, 0, 0, 0);
        color: var(--tag-color-3);
    }

    .followBtn{
        background-color: rgba(0, 0, 0, 0);
        border: none;
        font-weight: 1000;        
    }
    .follow_btn_span button{
        color: var(--tag-color-3);

    }
    .follow_btn_span_following button{
        color: var(--font-color-1);
    }

    .mainFollowBtn{
        background-color: rgba(0, 0, 0, 0);
        border: none;
        font-weight: 1000;        
    }


/* header.ejs */
    #headerDiv{
        display:flex; 
        flex-direction: row; 
        flex-grow: 1; 
        align-items: center; 
        justify-content: space-around; 

        min-height: 3.5em;
        padding: 0em 1em;

        background: var(--header-color-1);

        box-shadow: 0 0 1px 1px hsl(243, 100%, 15%, 100%);
    }

    /* Top Left Logo */
    .phraseitLogo{
        width: 10em;
        height: 1em;
        background-image: url("/assets/logo7.svg");
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.75;
    }

    /* Search Form */
    #searchBarDiv{
        width: 50%;
        position: relative;
        display: flex;
        justify-content: center;
    }
    
    #searchForm{
        flex-grow: 1;
        max-width: var(--search-bar-width);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #searchForm *{
        outline: none;
        height: var(--search-bar-height);
    }
    
    #search_input{
        flex-grow: 1;
        padding-left: 0.5em;
        border: 1px solid var(--search-bar-color-1);
        border-right: none;
    }
    #search_input:focus{
        border: 2px solid var(--search-bar-color-1);
        outline: none;
    }
    
    #search_submit{    
        width: 5em;
        background-color: var(--search-bar-color-1);
        border: 1px solid var(--search-bar-color-1);
        cursor: pointer;
    }
    #search_submit:active{
        background-color: var(--search-bar-color-2);
    }

    .submit_span{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .submit_span::before{
        content: "\f002";
        position: absolute;
        pointer-events: none;
        color: var(--icon-color-1);
    }

    #search_tags_div{
        position: absolute;
        top: 100%;
        width: 100%;
        max-width: var(--search-bar-width);
        z-index: 4;

        background-color: var(--tag-color-1);
        border-color: var(--search-bar-color-1);
        border-style: solid;
        border-width: 0;

        display: flex;
        flex-wrap: wrap;

        visibility: hidden;
    }

    #search_tags_div div{
        position: absolute;
        visibility: hidden;
    }
    #searchBarDiv:hover #search_tags_div div{
        position: relative;
        visibility: visible;
    }
    #searchBarDiv:hover #search_tags_div{
        visibility: visible;
    }

    .search_tag{
        background-color: var(--tag-color-2);
        border: var(--tag-color-3);
        width: fit-content;
        margin: 0.5em;
        padding: 0.5em;
        display: flex;
    }
    .search_tag i::before{
        font-style: normal;
        content: '\f057';
        margin-left: 0.5em;
        cursor: pointer;
        color: var(--icon-color-1);
    }

    /* Top Right Menu */
    #top_right_menu{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
    }

    #new_quote_btn::before{
        content: '\f055';
        color: var(--icon-color-1);
    }
    
    .login_btn::before{
        content: '\f090';
    }



/* userProfile.ejs */
    #profileNav{
        margin: 0.5em 0;
        border: 1px solid var(--post-color-2);
        display: flex;

        max-width: var(--nav-bar-width);
        position: relative;
        left: 50%;
        transform: translate(-50%);

        background-color: var(--post-color-1);
    }

    #userCardDiv{
        min-width: 30%;
        display: flex;
        align-items: center;

        border-right: 1px solid var(--post-color-2);
        /* border-radius: 5em; */
        
        margin: 0.5em;
    }
    #userCardDiv div{
        margin-left:0.75em ;
        font-size: medium;
        color: var(--font-color-1) ;
    }

    .profile_picture{
        width: 5em;
        height: 5em;
        border-radius: 5em;
    }

    #main_profile_img_div{
        cursor: pointer;
        position: relative;
        border-radius: 5em;
    }

    #main_profile_img_div:hover::before{
        content: '\f31c';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: var(--icon-color-1);
    }

    #main_profile_img_own:hover{
        opacity: 0.20;
    }

    #profile_picture_upload_div{
        display: none;
        position: absolute;
        background-color: var(--post-color-1);
        border: 1px solid var(--post-color-2);
        
        top: 100%;
        left: -1;

        padding: 1em;
        z-index: 100;
    }
    #profile_picture_upload_div *{
        font-weight: 1000;
        color: var(--font-color-1);
    }

    #profile_picture_upload_cancel{
        color: var(--icon-color-1);
    }

    #profile_picture_upload_form{
        display: flex;
        align-items: center;  
        gap: 0.5em;  
    }

    #profile_picture_upload_form input{
        outline: none;
        border: 1px solid var(--search-bar-color-1);
        padding: 0.2em;
    }

    #profile_picture_upload_form button{
        padding: 0.2em;
    }
    #profile_picture_upload_form i{
        cursor: pointer;
    }

    #profileTabsDiv{
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        align-items: center;
        justify-content: space-evenly;
        gap: 1.5em;    
    }

    .tabButton{
        font-size: medium;
        color: var(--font-color-1);
        position: relative;
        cursor: pointer;
    }
    .tabButton:hover::before{
        /* *** make animation: grows from center to sides */
        /* *** make it stay on as status: indicative of current tab */
        content: '';
        position: absolute;
        width: 110%;
        left: -5%;
        bottom: 0;

        border-radius: 1em;
        border: solid 1px var(--post-color-2);
    }
     
    .tabSelected::before{
        content: '';
        position: absolute;
        width: 110%;
        left: -5%;
        bottom: 0;

        border-radius: 1em;
        border: solid 1px var(--tag-color-3);
    }

    #profileContent {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .profileTab{
        max-width: var(--post-container-width);
        display: none;
    }

    .follow_card{
        background-color: var(--profile-color-1);
        border: 1px solid var(--profile-color-2);
        
        display: flex;
        align-items: center;

        width: var(--follow-card-width);

        gap: 1em;
        margin: 0.5em 0;
        padding: 0.5em;
    }
    .follow_card *{
        text-decoration: none;
    }

    .follow_card_div{
        min-width: 50%;
        display: flex;
        align-items: center;
        border-right: 1px solid var(--profile-color-2);
    }

    .follow_card_subcontainer{
        margin-left: 0.75em;
    }
    



/* User Profile Popup */
    .userPopupContainer {
        width: fit-content;
    }
    .userPopupContainer:hover{
        position: relative;
        width: 100%;
    }
    .userPopupContainer:hover div{
        display: flex;

    }
    
    .profilePopup{
        display: none;
        
        position: absolute;
        
        /* top: 110%; */
        bottom: 110%;
        /* left: -0.5em; */
        left: -1px;

        background-color: var(--post-color-1);
        border: 1px solid var(--post-color-2);
        
        align-items: center;

        padding: 0.5em;
        z-index: 5;

        transition: all 1s;
    }
    .profilePopup > *{
        margin: 0.5em;
    }

    .profile_popup_subcontainer{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-right: 1px solid var(--post-color-2);
        padding-right: 1em;
    }



/* loginPopup.ejs */
    #loginDiv{
        background-color: rgba(31, 71, 71, 0.925);
        
        height: 100vh;
        width: 100%;
        overflow: hidden;

        position:absolute;
        top: 0;
        left: 0;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;    
    }



/* Home Page */
    #homePageBody{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #homePageBody > *{
        max-width: var(--post-container-width);
    }

    #homePageNav{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        gap: 2em;
        margin-top: 1.5em;
        margin-bottom: 0.5em;

        border: solid 1px var(--post-color-2);
        background-color: var(--post-color-1);
    }

    #homePageNav > *{
        margin: 0.5em;
    }

    #homePageNav a{
        text-decoration: none;
        font-weight: 1000;    
    }




/* Post Preview */

    .postPreview{
        border: solid 1px var(--post-color-2);
        background-color: var(--post-color-1);
        
        margin: 0.5em 0;
        padding: 0.5em;

        width: 100%;

    }
    .postPreview *{
        text-decoration: none;
    }

    .post_preview_content{
        padding: 1em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    .post_preview_content > *{
        display: inline;
        color: var(--quote-color-2);
    }
    .post_preview_quote{
        color: var(--quote-color-1);
        font-size: large;
        /* white-space: pre-line; */
        word-wrap: break-word;
        white-space: pre-wrap;
    }
    .post_preview_author{
        display: inline-block;
    }
    
    .post_preview_footer{
        display: flex;
        flex-direction: column;
    }

    .post_preview_buttons{
        display: flex;
        align-items: center;
    }
    .post_preview_buttons > *{
        margin-right: 0.5em;
    }

    .post_preview_footer *{
        padding: 0.1em;
    }   
    .post_preview_content *{
        padding: 0.1em;
    }
    .userProfileLink{
        padding: 0.1em;
    }



/* New Post */

    .new_post_div{
        width: var(--post-container-width);
        
        border: 1px solid var(--post-color-2);
        background-color: var(--post-color-1);
        
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        margin-top: 2em;
        padding: 2em;
        padding-top: 0;

    }

    #new_post_form > div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #new_post_form  *{
        outline: none;
        font-size: medium;
        color: var(--font-color-1);
    }
    
    #new_post_form label{
        font-weight: 1000;
        padding-top: 2em; 
        padding-bottom: 0.3em;        
        color: var(--font-color-1);
        transform: translateX(-0.75em);
    }


    #new_post_quote_div textarea{
        height: 5em;
        width: 100%;
    }

    .newPostInput{  
        padding: 0.5em;
        border: 1px solid var(--search-bar-color-1);
        width: 50%;
    }
    .newPostInput:focus{
        border: 2px solid var(--search-bar-color-1);
        outline: none;
    }

    .new_post_submit_btn{
        cursor: pointer;
        margin-top: 2em;
    }

    #newTagCardsDiv{
        min-width: 50%;
        max-width: 100%;
        border: 1px solid var(--post-color-2);
        display: flex;
        flex-wrap: wrap;
        margin-top: 0.5em;
    }

    .searchTagCard{
        background-color: var(--tag-color-2);
        border: var(--tag-color-3);
        width: fit-content;
        margin: 0.5em;
        padding: 0.5em;
        display: flex;
        color: black;
    }
    .searchTagCard i::before{
        font-style: normal;
        content: '\f057';
        margin-left: 0.5em;
        cursor: pointer;
        color: var(--icon-color-1);
    }



/* Results */
    #results_body_div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        width: 100%;
        max-width: var(--post-container-width);

        position: relative;
        left: 50%;
        transform:  translateX(-50%);

        margin-top: 2em;
    }    

    #results_tags_div{
        background-color: var(--post-color-1);
        border: 1px solid var(--post-color-2);

        padding: 0.5em;
        color: var(--font-color-1);
    }
    #results_tags_div a{
        text-decoration: none;
    }
    #results_tags_div h4{
        display: inline-block;
        margin: 0.5em;
    }

    #no_results_div{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin-top: 2.5em;
    }
    #no_results_div *{
        margin-top: 0.1em;
    }

/* Single post */
    .post_single_body{
        background-color: var(--post-color-1);
        border: 1px solid var(--post-color-2);
        
        max-width: var(--post-container-width);
        
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 2.5em;
        margin-bottom: 2.5em;

        padding: 0.5em;
    }

    .post_single_body > *{
        margin-bottom: 1em;
    }


/*--------------------*/
    .postSingle{
        border-bottom: solid 1px var(--post-color-2);
        background-color: var(--post-color-1);
        
        margin: 0.5em 0;
        padding: 0.5em;

        width: 100%;

    }
    .postSingle *{
        text-decoration: none;
    }

    .post_single_content{
        padding: 1em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    .post_single_content > *{
        display: inline;
        color: var(--quote-color-2);
    }
    .post_single_quote{
        color: var(--quote-color-1);
        font-size: large;
        /* white-space: pre-line; */
        word-wrap: break-word;
        white-space: pre-wrap;
    }
    .post_single_author{
        display: inline-block;
    }

    .post_single_footer{
        display: flex;
        flex-direction: column;
    }

    .post_single_buttons{
        display: flex;
        align-items: center;
    }
    .post_single_buttons > *{
        margin-right: 0.5em;
    }

    .post_single_footer *{
        padding: 0.1em;
    }   
    .post_single_content *{
        padding: 0.1em;
    }
    .userProfileLink{
        padding: 0.1em;
    }

/*------- Comments --------*/

    #commentsDiv *{
        text-decoration: none;
    }
    
    .comments_subcontainer{
        border-bottom: solid 1px var(--post-color-2);
        padding: 1em;
    }

    .comment{
        border: solid 1px var(--placeholder);/* placeholder */
        border-left: solid 1px var(--post-color-2);
        position: relative;
    }
    .comment::before{
        content: '';
        background-image: url('/assets/profile1.png');
        background-size: 100%;
        width: 1.6em;
        height: 1.6em;
        border-radius: 2em;
        position: absolute;
        left: -0.8em;    
    }

    .comment >*{
        margin-top: 0.4em;
        margin-left: 1em;
    }

    .commentTopLevel{
        margin: 1em;
        margin-bottom: 0;
    }

    .commentReplyLevel{      
        margin-left: 1em;
        margin-top: 0.9em;
    }

    /* .replyButton{
        border: solid 1px var(--placeholder);
    }

    

    :root{
        --placeholder: rgba(0, 0, 0, 01.0);
        --placeholder: rgba(0, 0, 0, 0.0) 0px;
    } */

    .no_comments_div{
        margin-top: 2em;
        margin-left: 1em;
        /* display: flex; */
        justify-content: center;
        color: var(--font-color-1);
    }

    .comment_textarea{
        outline: none;
        font-size: medium;
        color: var(--font-color-1);
        
        width: 100%;
        height: 3.5em;
        
        padding: 0.5em;
        margin-top: 0.5em;

        border: 1px solid var(--search-bar-color-1);
    }
    .comment_textarea:focus{
        border: 2px solid var(--search-bar-color-1);
    }

    .comment_submit_btn{
        display: inline-block;
        
        padding: 0.2em;
        outline: none;
        
        background-color: var(--button-color-1);
        border: 1px solid var(--button-color-1);

        font-weight: 1000;
        color: var(--font-color-1);
        cursor: pointer;
    }
    
    .comment_cancel_btn{
        display: inline-block;
        
        padding: 0.2em;
        outline: none;
        
        background-color: var(--button-color-1);
        border: 1px solid var(--button-color-1);

        font-weight: 1000;
        color: var(--font-color-1);
        cursor: pointer;
    }
    
    .comment_reply_btn{
        display: inline-block;
        
        padding: 0.2em;
        outline: none;
        
        background-color: var(--button-color-6);
        border: 1px solid var(--button-color-6);

        font-weight: 1000;
        color: var(--font-color-2);
        cursor: pointer;
    }

    .comment_reply_btn:hover{
        background-color: var(--button-color-1);
        border: 1px solid var(--button-color-1);
        color: var(--font-color-1);
    }
    