/* General */
    img{
        /* Place holder profile pic size */
        width: 5em;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: content-box;
        font-family: 'Spartan', sans-serif;
    }



/* header.ejs */
    :root{
        
    }

    #headerDiv{
        display:flex; 
        flex-direction: row; 
        flex-grow: 1; 
        align-items: center; 
        justify-content: space-around; 

        min-height: 3.5em;
        padding: 0em 1em;

        background:hsl(243, 75%, 89%);

        box-shadow: 0 0 1px 1px hsl(243, 100%, 15%, 100%);

    }

    .phraseitLogo{
        width: 10em;
    }

    #searchBarDiv{
        width: 50%;
    }

    #searchForm{
        max-width: 750px;
        position: relative;
    }
    #searchForm *{
        outline: none;
    }
    
    #search_input{
        height: 2em;
    }
    #search_input:focus{
    
    }
    
    #search_submit{        
        height: 2em;
    }
    .submit_span{
        position: relative;
    }
    .submit_span::before{
        content: "\f002";
        position: absolute;
        pointer-events: none;
    }

    .fa-icon::before{
        font-weight: 900;
        font-family: "Font Awesome 6 Free";
        display: inline-block;
        text-rendering: auto;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
    }

/* userProfile.ejs */
    #profileNav{
        border: 1px #ff8800 solid;
        display: flex;
    }
    
    #profileTabsDiv{
        display: flex;
        border: 1px rgb(255, 0, 0) solid;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        align-items: center;
        justify-content: space-evenly;
        gap: 1.5em;    
    }
    
    .profileTab{
        border: 1px black solid;
        display: none;
    }

    .userMiniCard{
        /* Follow tabs (change class name) */
        border: 1px solid black;
        display: flex;
        gap: 1em;
    }



/* Buttons */
    .favorited{
        border: red 2px solid;
    }

    .following_true{
        border: rgb(0, 255, 0) 2px solid;
    }

    

/* User Profile Popup */
    .userPopupContainer:hover div{
        display: block;
    }

    .userPopupContainer{
        border: solid rgb(0, 255, 0) 2px;
        position: relative;
        width:fit-content;
    }
    .userPopupContainer h3{
        margin: 0;
    }

    .profilePopup{
        border: solid blue 2px;
        display: none;
        
        position: absolute;
        z-index: 5;
        
        bottom: 100%;
        left: -0.5em;

        height: 5.5em;
        width: 25em;

        background-color: aliceblue;
    }



/* loginPopup.ejs */
    #loginDiv{
        background-color: rgba(31, 71, 71, 0.925);
        
        height: 100vh;
        width: 100vw;
        overflow: hidden;

        position:absolute;
        top: 0;
        left: 0;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



/* Home Page */
    #homePageBody{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #homePageBody *{
        max-width: 850px;
    }

    #homePageNav{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        width: 850px;
        gap: 2em;
    }




/* Post Preview */
    .postPreview{
        border: solid black 2px;
    }